/*----------Variables----------*/
:root {
  --green: #7a765e;
  --gray: #dcdbdb;
  --darkgray: #a4b1bd;
  --purple: #7363bf;
  --dark: #0a3641;
}

/*----------Global Styling----------*/
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Rockwell", serif;
  src: url("https://use.typekit.net/dsy4yxt.css") format(truetype);
}

body {
  font-family: "Rockwell";
  margin: 0px;
  max-width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: auto;
}
.active {
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--dark);
}

/*----------Header and Navigation styling----------*/
a {
  text-decoration: none;
}
header,
footer {
  background-color: var(--green);
  position: fixed;
  box-shadow: 0 0 4px 0 var(--dark);
  z-index: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}
header img {
  height: 120px;
  margin-left: 15px;
}
nav {
  display: none;
  position: fixed;
  top: 121px;
  background-color: var(--green);
  z-index: 1000;
  right: 0px;
}
nav li {
  display: inline;
  padding: 0px;
  max-width: 100%;
  margin: 10px;
}
nav a,
footer a {
  font-size: 1.4em;
  color: var(--gray);
  padding: 10px;
  font-weight: bold;
}

/*----------Hamburger Menu Checkbox----------*/
#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: block;
}
header label {
  display: none;
  margin-right: 15px;
  font-size: 1.8em;
  color: var(--dark);
}
/*----------Search Feature----------*/
.search {
  color: var(--gray);
}
.search:hover {
  color: var(--dark);
  font-size: 1.8em;
  background-color: var--(--gray);
}
/*Main Page*/
main {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.welcome {
  background-image: url("../images/mainimage.jpg");
  background-size: cover;
  height: 100vh;
  margin-top: 123px;
  position: relative;
  background-position-x: center;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.welcome-text {
  border: 2px solid var(--dark);
  background-color: var(--gray);
  border-radius: 42px;
  color: var(--dark);
  font-size: 0.9em;
  position: absolute;
  width: 250px;
  height: 175px;
  margin: 20px 0px 0px 10px;
  text-align: center;
}

.welcome-link {
  background-color: var(--green);
  border: 2px solid var(--dark);
  font-size: 2.2em;
  position: absolute;
  padding: 10px;
  top: 250px;
  width: fit-content;
  height: max-content;
  border-radius: 42px;
  box-shadow: 0 0 10px 0 black;
}

.welcome-link a {
  color: var(--gray);
  padding: 5px;
  text-transform: uppercase;
}

/*----------Footer Related----------*/

footer {
  text-align: center;
  height: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}
footer li {
  list-style-type: none;
  display: inline;
  padding: 15px;
  margin: 0px;
}

/* I've tested out how the icons looked inside my design for eventually later use. 

.socialmedia {
  display: inline;
} */

/*----------INSPIRATION PAGE----------*/
.inspiration-main-text {
  display: flex;
  justify-content: center;
  text-indent: 10px;
  text-transform: capitalize;
  color: var(--gray);
  position: absolute;
  text-align: center;
  width: 100%;
  top: 123px;
  font-size: 0.6em;
  margin: 0px;
}

.inspiration-main {
  display: inline-grid;
  background-color: var(--dark);
  grid-template-columns: 1fr;
  grid-template-rows: 322px;
  width: 100%;
  grid-gap: 10px;
  padding: 123px 0px;
}

.inspiration-main-image1 {
  background-image: url(../images/inspiration1.jpg);
  border: 1px solid var(--green);
  width: 322px;
  height: 271px;
  order: 2;
  justify-self: center;
}
.inspiration-main-image2 {
  background-image: url(../images/inspiration2.jpg);
  background-size: cover;
  border: 1px solid var(--green);
  width: 322px;
  height: 271px;
  order: 4;
  justify-self: center;
}
.inspiration-main-image3 {
  background-image: url(../images/inspiration3.jpg);
  border: 1px solid var(--green);
  background-size: cover;
  width: 322px;
  height: 271px;
  margin-top: 52px;
  order: 1;
  justify-self: center;
}
.inspiration-main-image4 {
  background-image: url(../images/inspiration4.jpg);
  border: 1px solid var(--green);
  background-repeat: no-repeat;
  background-position: center;
  width: 322px;
  height: 271px;
  order: 3;
  justify-self: center;
}
/*----------JACKETS PAGE----------*/
.jackets-main {
  background-color: var(--dark);
  padding: 150px 0px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto;
  text-align: center;
  color: var(--gray);
  width: 100%;
}
.jackets-main h1 {
  background-color: var(--gray);
  color: var(--dark);
  width: max-content;
  justify-self: center;
  padding: 5px;
}
.jackets-main h2 {
  color: var(--dark);
  background-color: var(--gray);
  max-width: max-content;
  font-size: 16px;
  position: absolute;
  bottom: -34px;
  right: 24px;
  text-transform: uppercase;
}
.jackets-main h3 {
  color: var(--gray);
  position: absolute;
  top: -55px;
  left: 117px;
}
.jackets-main p {
  color: var(--dark);
  background-color: var(--gray);
  max-width: max-content;
  position: absolute;
  border-radius: 42px;
  border: 1px solid var(--green);
  padding: 5px;
  top: 0px;
  left: -10px;
}
.jackets-main div {
  width: 322px;
  height: 271px;
  justify-self: center;
  position: relative;
  margin-bottom: 45px;
}

/*----------PRODUCTS PAGE----------*/ /* All styling on the different specific jacket pages. */
.jackets-content {
  background-image: url(../images/jackets-textures.jpg);
  background-size: cover;
  margin-top: 123px;
  text-align: center;
  height: 125vh;
}
.jackets-content h2 {
  color: var(--dark);
  background-color: var(--darkgray);
  max-width: 100%;
  margin: 0px 20px;
  font-size: 1.2em;
}
.jackets-buttons a {
  border: 3px solid var(--dark);
  border-radius: 42px;
  padding: 10px;
  color: var(--gray);
  background-color: var(--green);
}
.jackets-content-blue,
.jackets-content-red,
.jackets-content-green,
.jackets-content-black {
  grid-template-columns: 1fr;
  padding: 30px 0px;
  position: relative;
}

.size-buttons {
  margin: 30px;
  font-size: 1.5em;
}

.jackets-content img {
  box-shadow: 0 0 15px 0 black;
}
/*----------CONTACT PAGE----------*/
.contact-main {
  grid-template-columns: 1fr;
  text-align: center;
  background-image: url(../images/textures-small.jpg);
  min-height: 125vh;
  background-size: cover;
  margin-top: 123px;
}
.contact-main h1,
h2 {
  background-color: var(--darkgray);
  display: inline-block;
  padding: 10px;
  width: 80%;
}

.contact-main h2 {
  margin-top: 60px;
}

.contact-form {
  display: inline-grid;
  position: relative;
  justify-content: center;
}

.contact-form label {
  position: inherit;
  font-weight: bold;
}

.contact-form input {
  background-color: var(--gray);
  border-radius: 42px;
  width: 260px;
  margin: 15px;
  padding: 5px;
}
.enquiry {
  margin-top: 15px;
}
.contact-form textarea {
  box-shadow: 2px 2px 5px 0 var(--dark);
}
.contact-form input[type="submit"] {
  display: flex;
  background-color: var(--green);
  color: var(--gray);
  border-radius: 42px;
  border: 3px solid var(--dark);
  width: 115px;
  height: 35px;
  margin: 10px auto;
}

/*----------ABOUT PAGE----------*/
.about-section {
  margin-top: 123px;
  background-color: var(--dark);
  color: var(--gray);
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
  height: 200vh;
}
.about-section h2 {
  margin: 0px 20px;
  background-color: var(--dark);
  font-size: 0.9em;
  font-weight: normal;
  width: 300px;
}

.employees {
  display: inline-block;
  color: var(--dark);
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--darkgray);
}
.employees div {
  margin: 45px;
}

.employees p {
  position: relative;
  bottom: 25px;
}

.employee1 {
  background-image: url(../images/employee1.jpeg);
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 15px;
}
.employee2 {
  background-image: url(../images/employee2.jpeg);
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 15px;
}
.employee3 {
  background-image: url(../images/employee3.jpeg);
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 15px;
}
.employee4 {
  background-image: url(../images/employee4.jpeg);
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 15px;
}
.location-map {
  background-image: url(../images/about-map.png);
  background-size: cover;
  color: var(--dark);
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
}
/*----------CHECKOUT PAGE----------*/
.checkout-main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1% 1%;
  margin: 123px 0px;
  text-align: center;
  justify-items: center;
  background-color: var(--dark);
}

.checkout-summary {
  border: 1px solid black;
  margin: 5px;
  background-color: var(--gray);
  height: fit-content;
  padding: 10px;
}
.checkout-summary div {
  margin-bottom: 5px;
}
.checkout-payment {
  border: 1px solid black;
  margin: 5px;
  background-color: var(--gray);
  padding: 10px;
  height: fit-content;
  display: inline-grid;
}
.checkout-payment input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  display: flex;
}
.purchase {
  border-radius: 42px;
  background-color: var(--green);
  color: var(--gray);
  border: 1px solid var(--dark);
  padding: 10px;
  width: 130px;
  height: 50px;
  position: relative;
  top: 10px;
  left: 40px;
}
.expiry {
  width: 50%;
  margin-left: 25%;
  position: relative;
}

/*----------SUCCESS PAGE----------*/

.success-main {
  display: grid;
  margin-top: 123px;
  height: 125vh;
  text-align: center;
  background-color: var(--gray);
  grid-auto-rows: max-content;
  font-size: 1.3em;
  justify-items: center;
  padding: 10px;
}
.success-main h1,
h2 {
  background-color: var(--darkgray);
  height: auto;
}
.success-main a {
  border: 3px solid black;
  color: var(--gray);
  background-color: var(--green);
  border-radius: 42px;
  padding: 15px;
  height: fit-content;
  width: auto;
  margin: 10px;
}
/*============================Media Queries=======================================*/

@media (min-width: 300px) {
  header,
  .welcome {
    justify-items: center;
  }
  .welcome {
    background-position-x: 80%;
  }

  nav li {
    text-align: center;
    display: block;
    padding: 20px 10px;
    margin: 5px;
  }

  header label {
    display: block;
  }

  #hamburger-menu {
    display: none;
  }
  nav ul {
    padding: 0px;
    margin: 0px;
  }

  footer,
  nav li {
    font-size: 0.6em;
    margin: 0px;
  }
}

@media (min-width: 601px) {
  .welcome-text {
    width: 400px;
    font-size: 1.2em;
    height: 200px;
    margin: 15px 35px;
  }
  .welcome-link {
    width: 400px;
    margin: 0px 35px;
    font-size: 2.8em;
  }
  .jackets-main {
    grid-template-columns: auto auto;
    padding-left: 30px;
    margin-top: 70px;
  }
  .jackets-main h1 {
    display: none;
  }
  .jackets-main h2 {
    font-size: 20px;
    bottom: -37px;
  }
  .about-section {
    font-size: 1.2em;
  }
  .employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-image: url(../images/about-background.jpg);
    background-size: cover;
  }
  .employees p {
    bottom: 50px;
  }
}
@media (min-width: 695px) {
  .inspiration-main-text {
    font-size: 1em;
    top: 110px;
    justify-self: center;
  }
  .inspiration-main {
    grid-template-columns: 1fr 1fr;
  }
  .inspiration-main-image1 {
    margin-top: 52px;
  }
  .success-main {
    padding: 0px 30px;
    font-size: 1.9em;
  }
  .checkout-main {
    grid-template-columns: 1fr 1fr;
    height: 125vh;
  }
}

@media (min-width: 800px) {
  .welcome {
    justify-items: start;
  }
  header label {
    display: none;
  }
  nav ul {
    width: 800px;
  }
  nav li {
    margin: 6px;
  }
  nav {
    position: static;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  footer,
  nav li {
    display: inline;
    font-size: 1em;
  }

  .jackets-content-blue,
  .jackets-content-red,
  .jackets-content-green,
  .jackets-content-black {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .jackets-content-blue,
  .jackets-content-red,
  .jackets-content-green,
  .jackets-content-black h2 {
    font-size: 1.4em;
  }
  .jackets-buttons {
    margin-top: 30px;
  }
  .size-buttons {
    margin-left: 25%;
  }
  .jackets-content-blue img,
  .jackets-content-red img,
  .jackets-content-green img,
  .jackets-content-black img {
    margin-left: 25%;
  }
  .contact-main {
    background-position: center;
  }
  .enquiry textarea {
    width: 50%;
  }
  .enquiry button {
    margin-top: 10px;
    width: 150px;
    height: 45px;
  }
  .about-text {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 950px) {
  .inspiration-main-text {
    font-size: 1.9em;
    top: 278px;
    width: 30%;
    left: 35%;
  }
  .inspiration-main-image1 {
    border-radius: 0px 0px 0px 244px;
    border: 3px solid var(--green);
  }
  .inspiration-main-image2 {
    border: 3px solid var(--green);
    border-radius: 244px 0px 0px 0px;
  }
  .inspiration-main-image3 {
    border-radius: 0px 0px 244px 0px;
    border: 3px solid var(--green);
  }
  .inspiration-main-image4 {
    border-radius: 0px 244px 0px 0px;
    border: 3px solid var(--green);
  }
}
@media (min-width: 1350px) {
  .jackets-main {
    grid-template-columns: repeat(4, 1fr);
    height: 120vh;
  }
  .employees {
    grid-template-columns: repeat(4, 1fr);
    height: 500px;
  }
  .location-map {
    width: 450px;
    height: 450px;
  }
  .contact-form {
    display: grid;
  }
}
